.board {
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
}

.column {
  margin-bottom: 30px;
}

.column-name {
  height: 35px;
}

.App {
  text-align: center;
}

.add-card-button {
  cursor: pointer;
}
