.board {
  text-align: center;
  margin-right: 25px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.column {
  margin-bottom: 30px;
}

.column-name {
  height: 35px;
}

.App {
  text-align: center;
}

.add-card-button, .left-arrow, .right-arrow {
  cursor: pointer;
}

.left-arrow, .right-arrow {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 40px;
}

.card {
  display: flex;
  /* width: 50%; */
  margin: auto;
}

.card-content {
  margin: auto
}
